.custom-focus {
    -fx-focus-color: rgba(246, 123, 66, 1);
    -fx-faint-focus-color: rgba(246, 123, 66, 0.25);
}

.command {
    -fx-font-family: Consolas;
    -fx-text-fill: #c7c7c7;
    -fx-focus-color: transparent;
}

.text-area .content {
    -fx-background-color: BLACK;
    -fx-faint-focus-color: transparent;
}