.layer-name-input{
    -fx-pref-height: 40;
    -fx-font-size: 18;
}

.key-button{
    -fx-pref-height: 55;
    -fx-pref-width: 55;
    -fx-text-fill: #c7c7c7;
    -fx-background-color: #161616;
}

.key-button:hover{
    -fx-background-color: #3c3c3c;
}
.key-button:selected{
    -fx-background-color: #0178ba;
}