/* region Navigation on the left */
.nav-background{
    -fx-background-color: #161616;
}

.nav-button{
    -fx-text-fill: #c7c7c7;
    -fx-background-color: #161616;
    -fx-background-radius: 0;
    -fx-alignment: BASELINE_LEFT;
    -fx-padding: 0 0 0 25;
    -fx-font-size: 18;
    -fx-pref-height: 40;
}
.nav-button:hover{
    -fx-background-color: #3c3c3c;
}
.nav-button:pressed{
    -fx-background-color: #2979bc;
}
.nav-button:focused{
    -fx-background-color: #2979bc;
}
.nav-separator{
    -fx-padding: 10 20 10 20;
}
.nav-separator .line{
    -fx-border-color: #3c3c3c;
}
/* endregion */

/* region Head on the top */
.head-background{
    -fx-background-color: #3c3c3c;
}
.head-pane{
    -fx-padding: 10 10 10 10;
}
.head-layer-input{
    -fx-pref-height: 40;
    -fx-font-size: 18;
}
.head-control{
    -fx-pref-height: 40;
}
/* endregion */